Django==4.2
psycopg2-binary==2.9.3
django-storages==1.12.3
Pillow==8.3.2
django-crispy-forms==1.13.0
django-widget-tweaks==1.4.12

# For handling environment variables (if needed)
python-dotenv==0.19.2