{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Restoran</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <style>
      header.scrolled .menus > ul > li::after {
        background-color: var(--text-color-white);
      }
      
    </style>
  </head>
  <body>

    <div class="loader">
      <img style="height: 200px; width: 200px; margin-bottom: 30px;" src="{% static 'assets/images/natcha-loader.jpeg' %}" alt="Loader Icon" class="loader-icone">
      <p>Natchathai</p>
      <div class="loader-ellipses">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <header>
      <div class="container header my-3 d-none d-lg-flex">
        <div class="logo">
          <a href="./index.html">
            <img style="height: 50px; width: 50px; margin-bottom: 30px;" src="{% static 'assets/images/natcha-loader.png' %}" alt="Loader Icon">
            <h1 class="mb-0">Natchathai</h1>
          </a>
        </div>
        <div class="menus">
          <ul class="d-flex mb-0">
            <li class="list-unstyled py-2">
              <a class="text-decoration-none text-uppercase p-4" href="#index"
                >Home</a
              >
            </li>
            <li class="list-unstyled py-2">
              <a class="text-decoration-none text-uppercase p-4" href="#about-us"
                >About</a
              >
            </li>
            <li class="list-unstyled py-2">
              <a class="text-decoration-none text-uppercase p-4" href="#reservation"
                >Reservation</a
              >
            </li>
            <li class="list-unstyled py-2">
              <a class="text-decoration-none text-uppercase p-4" href="#our-menu"
                >Menu</a
              >
            </li>
            <li class="list-unstyled py-2">
              <a class="text-decoration-none text-uppercase p-4" href="#contact"
                >Contact</a
              >
            </li>
          </ul>
        </div>
        <div class="icons">
          <a class="text-decoration-none" id="searchBtn" href="#">
            <i class="fa fa-search me-3"></i>
          </a>
          <a class="text-decoration-none" id="shoppingbutton" href="#">
            <i class="fa fa-shopping-bag me-3"></i>
          </a>
        </div>
      </div>

      <div class="d-flex justify-content-around py-3 align-items-center d-lg-none">
        <div id="hamburger">
          <i class="fa fa-2x fa-bars me-3 text-white"></i>
        </div>
        <div class="mobile-nav-logo">
          <div class="logo">
            <a href="./index.html">
              <i class="fa fa-utensils me-3"></i>
              <h1 class="mb-0">Restoran</h1>
            </a>
          </div>
        </div>
        <div class="mobile-nav-icons">
          <div class="icons">
            <a class="text-decoration-none" id="searchBtnMobile" href="#">
              <i class="fa fa-search me-3"></i>
            </a>
            <a class="text-decoration-none" id="shoppingbuttonMobile" href="#">
              <i class="fa fa-shopping-bag me-3"></i>
            </a>
          </div>
        </div>
        <div class="position-fixed w-75 bg-white h-100 top-0 start-0" id="mobile-menu">
          <div id="hamburger-cross" class="d-flex justify-content-end align-items-center py-2">
              <i class="fa fa-2x fa-plus me-3 "></i>
          </div>
          <div class="menus">
              <ul class="d-flex flex-column ps-2 mb-0 mt-4">
                  <li class="list-unstyled py-2">
                      <a class="text-dark text-decoration-none text-uppercase p-4" href="#home">Home</a>
                  </li>
                  <li class="list-unstyled py-2">
                      <a class="text-dark text-decoration-none text-uppercase p-4" href="#about-us">About</a>
                  </li>
                  <li class="list-unstyled py-2">
                      <a class="text-dark text-decoration-none text-uppercase p-4" href="#reservation">Reservation</a>
                  </li>
                  <li class="list-unstyled py-2">
                      <a class="text-dark text-decoration-none text-uppercase p-4" href="#our-menu">Menu</a>
                  </li>
                  <li class="list-unstyled py-2">
                      <a class="text-dark text-decoration-none text-uppercase p-4" href="#contact">Contact</a>
                  </li>
              </ul>
          </div>
      </div>
      </div>
    </header>

    <div class="search-bar d-none" id="search-container">
      <div class="close-btn" id="search-close-btn">
        <i class="fa fa-close"></i>
      </div>
      <div class="search-bar-wrapper">
        <input type="search" placeholder="Enter any text here..." />
        <div class="search-button">
          <a href="#"><i class="fa fa-search"></i></a>
        </div>
      </div>
    </div>

    
    <main>
      <section class="banner py-5" id="index">
        <div class="container py-5">
            <div class="row">
                <div class="col-md-6 banner-content pe-5" data-aos="fade-right" data-aos-delay="3000">
                    <h1 class="display-2">{{ banner_content.header }} <br>{{ banner_content.header2 }}</br></h1>
                    <p>{{ banner_content.paragraph1 }}</p>
                    <div class="book-a-table">
                        <div class="anim-layer"></div>
                        <a href="#">Book a table</a>
                    </div>
                </div>
                <div class="col-md-6 banner-img" data-aos="fade-left" data-aos-delay="3000">
                  <img class="img img-fluid mt-5 mt-lg-0" src="{% static 'assets/images/banner-img.png' %}" alt="">
                </div>
            </div>
        </div>
    </section>
      
    <section class="services my-5 py-5">
      <div class="container">
          <div class="row gy-4">
              {% for service in services %}
                  <div class="col-md-3">
                      <div class="cards px-4 py-5" data-aos="fade-right">
                          <div class="anim-layer"></div>
                          <div class="icon">
                              <i class="fa fa-3x {{ service.icon.value }} mb-4"></i>
                          </div>
                          <div class="heading">
                              <h5>{{ service.heading }}</h5>
                          </div>
                          <div class="para">
                              <p>{{ service.description }}</p>
                          </div>
                      </div>
                  </div>
              {% endfor %}
          </div>
      </div>
  </section>

      <section class="about-us py-5 my-5" id="about-us">
        <div class="container">
            <div class="row gy-5 g-lg-5 align-items-center">
                <div class="col-lg-6 about-img-box">
                    <div class="row g-3">
                        <div class="col-6" data-aos="fade-right">
                            <img class="img-fluid rounded w-100" src="{{ about_us.image1 }}">
                        </div>
                        <div class="col-6 text-right" data-aos="fade-down">
                            <img class="img-fluid rounded w-75" src="{{ about_us.image2 }}">
                        </div>
                        <div class="col-6 text-end" data-aos="fade-right">
                            <img class="img-fluid rounded w-75" src="{{ about_us.image3 }}">
                        </div>
                        <div class="col-6 text-end" data-aos="fade-up">
                            <img class="img-fluid rounded w-100" src="{{ about_us.image4 }}">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 about-content" data-aos="fade-left">
                    <h5 class="section-title">About Us</h5>
                    <h2 class="mb-4 dis">Welcome to <i class="fa fa-utensils me-2"></i>Natcha</h2>
                    <p class="mb-4">{{ about_us.paragraph1 }}</p>
                    <p class="mb-4">{{ about_us.paragraph2 }}</p>
                    <div class="row g-4 mb-4 about-extra">
                        <div class="col-sm-6">
                            <div class="d-flex align-items-center px-3 about-experience">
                                <h1 class="flex-shrink-0 mb-0">{{ about_us.experience_years }}</h1>
                                <div class="ps-4">
                                    <p class="mb-0">Years of</p>
                                    <h6 class="text-uppercase mb-0">Experience</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

   <!-- Existing Our Menu section (hidden) -->
<section class="our-menu py-5 my-5" id="our-menu" style="display: none;">
  <div class="container">
    <div class="row" data-aos="fade-right">
      <div class="section-title text-center">
        <h5>Our Menu</h5>
        <h2 class="display-5 fw-bold">Tasty And Good Price</h2>
      </div>
    </div>
    <div id="our-menus" class="slider">
      {% for food in food_items %}
      <div class="food-item hidden">
        <div class="row my-5 py-1 justify-content-center align-items-center">
          <div class="col-lg-2">
            <div style="width: 400px;">
              {% if food.image %}
                <img width="40%" src="{{ food.image.url }}" alt="{{ food.name }}">
              {% elif food.image_url %}
                <img width="40%" src="{{ food.image_url }}" alt="{{ food.name }}">
              {% else %}
                <img width="40%" src="{% static 'assets/images/default-food-image.png' %}" alt="Default Image">
              {% endif %}
            </div>
          </div>
          <div class="col-lg-7">
            <div class="item-wrapper d-flex justify-content-between">
              <div class="item-left">
                <h5>{{ food.name }}</h5>
                <p>{{ food.description }}</p>
              </div>
              <div class="item-right">
                {% if food.price %}
                  <span class="item-price">
                    <span class="price-symbol">$</span>
                    {{ food.price }}
                  </span>
                {% else %}
                  <span class="item-price">Price not available</span>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<!-- New Our Menu section -->
<section class="new-our-menu py-5 my-5" id="new-our-menu">
  <div class="container">
    <div class="row" data-aos="fade-right">
      <div class="section-title text-center">
        <h5>Our Menu</h5>
        <h2 class="display-5 fw-bold">Tasty And Good Price</h2>
      </div>
    </div>
    <div class="row">
      {% for food in food_items %}
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card h-100 shadow-sm border-0">
          <div class="card-img-top position-relative">
            {% if food.image %}
              <img src="{{ food.image.url }}" alt="{{ food.name }}" class="img-fluid rounded-top" style="width: 100%; height: 200px; object-fit: cover;">
            {% elif food.image_url %}
              <img src="{{ food.image_url }}" alt="{{ food.name }}" class="img-fluid rounded-top" style="width: 100%; height: 200px; object-fit: cover;">
            {% else %}
              <img src="{% static 'assets/images/default-food-image.png' %}" alt="Default Image" class="img-fluid rounded-top" style="width: 100%; height: 200px; object-fit: cover;">
            {% endif %}
            <div class="overlay d-flex align-items-center justify-content-center">
              <h5 class="text-white">{{ food.name }}</h5>
            </div>
          </div>
          <div class="card-body text-center">
            <h5 class="card-title">{{ food.name }}</h5>
            <p class="card-text">{{ food.description }}</p>
            {% if food.price %}
              <span class="item-price">
                <span class="price-symbol">$</span>
                {{ food.price }}
              </span>
            {% else %}
              <span class="item-price">Price not available</span>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<style>
  .card {
    transition: transform 0.2s, box-shadow 0.2s;
  }

  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  .card-img-top {
    position: relative;
  }

  .card-img-top .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.2s;
  }

  .card-img-top:hover .overlay {
    opacity: 1;
  }

  .item-price {
    font-size: 1.2rem;
    color: #333;
    font-weight: bold;
  }

  .price-symbol {
    font-size: 1rem;
    color: #999;
  }
</style>

  <section class="testimonials py-5 my-5">
    <div class="container py-5">
        <div class="row" data-aos="fade-right">
            <div class="section-title text-center">
                <h5>Testimonial</h5>
                <h2 class="display-5 fw-bold">Our Customer Says</h2>
            </div>
        </div>
        <div class="row">
            <div data-aos="fade-up">
                <div class="pt-4 pb-4 mx-4">
                    <div class="row">
                        {% for testimonial in testimonials %}
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="card h-100 border-primary">
                                <div class="card-body">
                                    <div class="testi-content">
                                        <p class="card-text">{{ testimonial.content }}</p>
                                    </div>
                                    <div class="testi-info mt-4">
                                        <h5 class="card-title">{{ testimonial.name }}</h5>
                                        <p class="card-subtitle text-muted">{{ testimonial.position }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>

  <section class="reservation" id="reservation">
    <img class="d-md-none d-lg-block" src="{% static 'assets/images/find-a-table.png' %}" alt="">
        <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 py-5 reservation-content px-5" data-aos="fade-right">
                <div class="reservation-column py-5 px-3">
                    <h2 class="text-center text-white display-6 fw-bold">Make A Reservation</h2>
                    <p class="text-center text-white">You can call us directly at <span>225-88888</span></p>
                    <form method="post">
                        {% csrf_token %}
                        {% if form.errors %}
                            <div class="alert alert-danger">
                                <ul>
                                    {% for field in form %}
                                        {% for error in field.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    {% endfor %}
                                    {% for error in form.non_field_errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        <div class="row mt-5 pt-3">
                            <div class="col-12 col-lg-6">
                                <div class="input d-flex align-items-center">
                                    <i class="fa fa-user py-2 px-3"></i>
                                    {{ form.name }}
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 mt-4 mt-lg-0">
                                <div class="input d-flex align-items-center">
                                    <i class="fa fa-phone py-2 px-3"></i>
                                    {{ form.phone_number }}
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-12 col-lg-6">
                                <div class="input d-flex align-items-center">
                                    <i class="fa fa-users py-2 px-3"></i>
                                    {{ form.number_of_people }}
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 mt-4 mt-lg-0">
                                <div class="input d-flex align-items-center">
                                    <i class="fa fa-calendar py-2 px-3"></i>
                                    {{ form.date }}
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-12 col-lg-6">
                                <div class="input d-flex align-items-center">
                                    <i class="fa fa-clock py-2 px-3"></i>
                                    {{ form.time }}
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center mt-5 pt-3">
                            <div>
                                <div></div>
                                <button type="submit" class="btn btn-primary">Find Table</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6 d-none d-md-block reservation-bg" data-aos="fade-left"></div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="reservationModal" tabindex="-1" aria-labelledby="reservationModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="reservationModalLabel">Reservation Status</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  {% if messages %}
                      {% for message in messages %}
                          <p style="color: black;">{{ message }}</p>
                      {% endfor %}
                  {% endif %}
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="our-menu py-5 my-5">
    <div class="container">
      <div class="row" data-aos="fade-right">
        <div class="section-title text-center">
          <h5>Our Ingredients</h5>
          <h2 class="display-5 fw-bold"></h2>
        </div>
      </div>
      <div class="row position-relative">
        <div data-aos="fade-left" class="slider slider-indicators-wrapper justify-content-center">
          <div class="slider-indicators text-center" onclick="showDescription('ginger')" id="ginger-indicator">
            <img style="width: 80px; height: 80px; display: block; margin: 0 auto;" src="{% static 'assets/images/ginger.jpg' %}" alt="Ginger" class="small-img">
            <div class="indicators-title text-center">
              <h5>Ginger | Khing</h5>
            </div>
          </div>
          <div class="slider-indicators text-center" onclick="showDescription('garlic')" id="garlic-indicator">
            <img style="width: 80px; height: 80px; display: block; margin: 0 auto;" src="{% static 'assets/images/garlic.jpg' %}" alt="Garlic" class="small-img">
            <div class="indicators-title text-center">
              <h5>Garlic | Kira Thiam</h5>
            </div>
          </div>
          <div class="slider-indicators text-center" onclick="showDescription('kaffir_lime')" id="kaffir_lime-indicator">
            <img style="width: 80px; height: 80px; display: block; margin: 0 auto;" src="{% static 'assets/images/lime.webp' %}" alt="Kaffir Lime" class="small-img">
            <div class="indicators-title text-center">
              <h5>Kaffir Lime | Makrut</h5>
            </div>
          </div>
          <div class="slider-indicators text-center" onclick="showDescription('sacred_basil')" id="sacred_basil-indicator">
            <img style="width: 80px; height: 80px; display: block; margin: 0 auto;" src="{% static 'assets/images/sacredbasil.jpg' %}" alt="Sacred Basil" class="small-img">
            <div class="indicators-title text-center">
              <h5>Sacred Basil | Ka-Phrao</h5>
            </div>
          </div>
          <div class="slider-indicators text-center" onclick="showDescription('galangal')" id="galangal-indicator">
            <img style="width: 80px; height: 80px; display: block; margin: 0 auto;" src="{% static 'assets/images/galangal.jpg' %}" alt="Galangal" class="small-img">
            <div class="indicators-title text-center">
              <h5>Galangal | Kha</h5>
            </div>
          </div>
          <div class="slider-indicators text-center" onclick="showDescription('chilli')" id="chilli-indicator">
            <img style="width: 80px; height: 80px; display: block; margin: 0 auto;" src="{% static 'assets/images/chilli.jpg' %}" alt="Chilli" class="small-img">
            <div class="indicators-title text-center">
              <h5>Chilli | Phrik</h5>
            </div>
          </div>
          <div class="slider-indicators text-center" onclick="showDescription('lime')" id="lime-indicator">
            <img style="width: 80px; height: 80px; display: block; margin: 0 auto;" src="{% static 'assets/images/limeonly.jpg' %}" alt="Lime" class="small-img">
            <div class="indicators-title text-center">
              <h5>Lime | Ma'nao</h5>
            </div>
          </div>
          <div class="slider-indicators text-center" onclick="showDescription('lemongrass')" id="lemongrass-indicator">
            <img style="width: 80px; height: 80px; display: block; margin: 0 auto;" src="{% static 'assets/images/lemongrass.jpg' %}" alt="Lemongrass" class="small-img">
            <div class="indicators-title text-center">
              <h5>Lemongrass | Takhrai</h5>
            </div>
          </div>
        </div>
  
        <div id="our-menus" class="slider" data-aos="fade-up">
          <div class="row my-5 py-3">
            <div class="col-lg-5">
              <div class="pb-5 pb-lg-0">
                <img width="90%" src="./assets/images/menu-slider-dessert.png" alt="">
              </div>
            </div>
          </div>
          <div class="row my-5 py-3">
            <div class="d-flex justify-content-center">
              <div class="col-lg-7">
                <div id="ginger" class="item-wrapper text-center description">
                  <div class="">
                    <h5>Ginger | Khing</h5>
                    <p>Ginger produces a hot, fragrant kitchen spice. Young ginger rhizomes are juicy and fleshy with a very mild taste. They are often pickled in vinegar or sherry as a snack or just cooked as an ingredient in many dishes.</p>
                  </div>
                </div>
                <div id="garlic" class="item-wrapper text-center description" style="display: none;">
                  <div class="">
                    <h5>Garlic | Kira Thiam</h5>
                    <p>Dried mature garlic bulbs are used as a flavouring and condiment in Thai cuisine. The bulbs contain 0.1 to 0.36% garlic oil and organic sulphur compounds. Therapeutic uses are as antimicrobial, diaphoretic, diuretic, expectorant, antiflatulence and cholesterol lowering agents.</p>
                  </div>
                </div>
                <div id="kaffir_lime" class="item-wrapper text-center description" style="display: none;">
                  <div class="">
                    <h5>Kaffir Lime | Makrut</h5>
                    <p>The leaves, peel and juice of the Kaffir Lime are used as a flavouring in Thai cuisine. The leaves and peel contain volatile oil. The major therapeutic benefit of the juice is an appetiser.</p>
                  </div>
                </div>
                <div id="sacred_basil" class="item-wrapper text-center description" style="display: none;">
                  <div class="">
                    <h5>Sacred Basil | Ka-Phrao</h5>
                    <p>Sacred Basil is an annual herbaceous plant that resembles Sweet Basil but has narrower and reddish-purple leaves. The fresh leaves, which are used as a flavouring, contain approximately 0.5% volatile oil, which exhibits antimicrobial activity, specifically as a carminative, diaphoretic, xpectorant and stomachic.</p>
                  </div>
                </div>
                <div id="galangal" class="item-wrapper text-center description" style="display: none;">
                  <div class="">
                    <h5>Galangal | Kha</h5>
                    <p>Greater Galanga commonly used in Thai cooking as a flavouring. The approximately 0.04% volatile oil content has therapeutic uses as carminative, stomachic, antirheumatic and antimicrobial agents.</p>
                  </div>
                </div>
                <div id="chilli" class="item-wrapper text-center description" style="display: none;">
                  <div class="">
                    <h5>Chilli | Phrik</h5>
                    <p>Chilli is used as garnishing and flavouring in Thai dishes. There are many different species. All contain capsaicin, a biolozically active ingredient beneficial to the respiratory system, blood pressure and heart. Other therapeutic uses include being a stomachic, carminative and antiflatulence agent and digestant.</p>
                  </div>
                </div>
                <div id="lime" class="item-wrapper text-center description" style="display: none;">
                  <div class="">
                    <h5>Lime | Ma'nao</h5>
                    <p>Lime is used principally as a gamish for fish and meat dishes. The fruit contains Hesperidin and Naringin, scientifically proven anti-inflammatory flavonoids. Lime juice is used as an appetiser, and has antitussive, antifu, stomachic and antiscorbutic properties.</p>
                  </div>
                </div>
                <div id="lemongrass" class="item-wrapper text-center description" style="display: none;">
                  <div class="">
                    <h5>Lemongrass | Takhrai</h5>
                    <p>This erect annual plant resembles a coarse grey green grass used as a flavouring. Lemongrass contains 0.2 - 0.4% volatile oil. Therapeutic properties are as a diuretic, emmanagogue, antiflatulence, antiflu and antimicrobial agent.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      // Default select Ginger | Khing
      showDescription('ginger');
      document.getElementById('ginger-indicator').classList.add('active');
    });
  
    function showDescription(id) {
      // Hide all descriptions
      document.querySelectorAll('.description').forEach(function(desc) {
        desc.style.display = 'none';
      });
      // Show the selected description
      document.getElementById(id).style.display = 'block';
  
      // Remove active class from all indicators
      document.querySelectorAll('.slider-indicators').forEach(function(indicator) {
        indicator.classList.remove('active');
      });
      // Add active class to the selected indicator
      document.getElementById(id + '-indicator').classList.add('active');
    }
  </script>
  
  <style>
    .slider-indicators {
      position: relative;
      cursor: pointer;
    }
  
    .slider-indicators.active {
        border-radius: 20%;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect */
      background-color: #FFF; /* Example style for active state */
    }
  
    .slider-indicators::after {
      content: '▼'; /* Arrow icon */
      position: absolute;
      top: 100%; /* Position below the indicator */
      left: 50%;
      transform: translateX(-50%);
      font-size: 1.5rem;
      color: #000;
      display: none;
    }
  
    .slider-indicators.active::after {
      display: block;
    }
  </style>

<section class="our-gallery pt-5">
  <div class="container-fluid pt-5">
    <div class="row">
      <div class="section-title text-center" data-aos="fade-right">
        <h5>Our Gallery</h5>
        <h2 class="text-white display-6 fw-bold">Fooday Hot Dishes</h2>
      </div>
    </div>
    <div class="row pt-5">
      <div class="col-md-3 p-0">
        <div data-aos="fade-down-right">
          <img src="{% static 'assets/images/gallery-1.jpg' %}" alt="Gallery Image 1" class="img-fluid">
        </div>
      </div>
      <div class="col-md-6 p-0">
        <div class="row m-0">
          <div class="col-md-8 p-0">
            <div data-aos="fade-down">
              <img src="{% static 'assets/images/gallery-2.jpg' %}" alt="Gallery Image 2" class="img-fluid" style="width: 100%; height: 325px; object-fit: cover;">
            </div>
          </div>
          <div class="col-md-4 p-0">
            <div data-aos="fade-down">
              <img src="{% static 'assets/images/gallery-3.jpg' %}" alt="Gallery Image 3" class="img-fluid" style="width: 100%; height: 325px; object-fit: cover;">
            </div>
          </div>
        </div>
        <div class="row m-0">
          <div class="col-md-4 p-0">
            <div data-aos="fade-up">
              <img src="{% static 'assets/images/gallery-5.jpg' %}" alt="Gallery Image 5" class="img-fluid" style="width: 100%; height: 325px; object-fit: cover;">
            </div>
          </div>
          <div class="col-md-8 p-0">
            <div data-aos="fade-up">
              <img src="{% static 'assets/images/gallery-6.jpg' %}" alt="Gallery Image 6" class="img-fluid" style="width: 100%; height: 325px; object-fit: cover;">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 p-0">
        <div data-aos="fade-up-left">
          <img src="{% static 'assets/images/gallery-4.jpg' %}" alt="Gallery Image 4" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</section>

    
    </main>
    

    <a href="#" id="back-to-top">
      <i class="fa-solid fa-angles-up"></i>
    </a>

    
    <footer>
      <div class="container"> 
        <div class="row">
            <div class="footer-content col-xl-8 px-4">
                <div class="row">
                    <div class="col-lg-6 px-0">
                        <div class="logo" data-aos="fade-down-right">
                            <a href="./index.html">
                                <i class="fa fa-utensils me-3"></i>
                                <h1 class="mb-0">Restoran</h1>
                            </a>
                        </div>
                    </div>
                    <div data-aos="fade-down" class="col-lg-6 pt-4 pt-lg-0 d-flex align-items-center justify-content-start justify-content-lg-end">
                        <div class="social-icons d-flex">
                            <ul class="d-flex mb-0 ps-0">
                                {% for link in social_media_links %}
                                    <li class="mx-2"><a class="text-decoration-none text-white" href="{{ link.url }}"><i class="fab {{ link.icon }}"></i></a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row pt-5 content-desc" data-aos="fade-right">
                    <p class="px-0">{{ footer_content.description }}</p>
                </div>
                <div class="row" data-aos="fade-right">
                    <div class="d-flex flex-column flex-lg-row px-0 justify-content-between">
                        <div class="location d-flex align-items-center pe-2 py-3">
                            <i class="fa-solid fa-location-dot text-white fa-2x border-bottom pb-2"></i>
                            <div class="ps-3">
                                <p class="mb-0">{{ footer_content.address }}</p>
                            </div>
                        </div>
                        <div class="location d-flex align-items-center pe-2 py-3">
                            <i class="fa-solid fa-mobile text-white fa-2x border-bottom pb-2"></i>
                            <div class="ps-3">
                                <p class="mb-0">{{ footer_content.phone_number }}</p>
                            </div>
                        </div>
                        <div class="location d-flex align-items-center pe-2 py-3">
                            <i class="fa-solid fa-envelope text-white fa-2x border-bottom pb-2"></i>
                            <div class="ps-3">
                                <p class="mb-0">{{ footer_content.email }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="reservation-box" data-aos="fade-down-left">
                    <div class="reservation-wrapper">
                        <h2>Open Hour</h2>
                        <div class="reservation-date-time">
                            {{ footer_content.open_hours|linebreaksbr }}
                        </div>
                        <h2 class="pb-2">Reservation Numbers</h2>
                        <h3>{{ footer_content.reservation_number }}</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <p class="text-center pt-4 mt-3 pt-lg-0">&copy; <span id="copyrightCurrentYear"></span> <b> Restoran.</b> All rights reserved. Designed & Powered by <a href="https://www.ideafordge.com/" class="fw-bold author-name">Ideafordge</a></p>
        </div>
    </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="{% static 'assets/js/script.js' %}"></script>
   
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        $(document).ready(function(){
            {% if messages %}
                $('#reservationModal').modal('show');
            {% endif %}
        });
    </script>
  
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const lazyImages = document.querySelectorAll('.lazy');
      const lazyLoad = function() {
        lazyImages.forEach(img => {
          if (img.getBoundingClientRect().top < window.innerHeight && img.getBoundingClientRect().bottom > 0 && getComputedStyle(img).display !== 'none') {
            img.src = img.dataset.src;
            img.classList.remove('lazy');
          }
        });
      };
  
      lazyLoad(); // Initial load
      document.addEventListener('scroll', lazyLoad);
      window.addEventListener('resize', lazyLoad);
      window.addEventListener('orientationchange', lazyLoad);
    });
  </script>

<script>
  function longRunningTask() {
    // Example of breaking up a long-running task
    let i = 0;
    function step() {
      if (i < 1000) {
        // Perform a small part of the task
        console.log(i);
        i++;
        requestAnimationFrame(step);
      }
    }
    requestAnimationFrame(step);
  }

  document.addEventListener('DOMContentLoaded', function() {
    longRunningTask();
  });
</script>
  
  </body>
</html>
